.App {
  height: 120vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  /* max-width: 600px; */
}

label {
  color:#BCBCBC;
  font-size: medium;
}

input {
  display: inline-block;
  /* height: 40px; */
  /* width: 500px; */
  /* margin: 10px; */
  border: 1px solid #DCDCDC;
  padding: 0px 10px;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: top;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  font-family: "Lucida Console", monospace;
}

.submitButton {
  /* height: 40px; */
  font-family: "Lucida Console", monospace;
  /* width: 500px; */
  padding: 0px 10px;
  background-color: #C49404;
  color: white;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  border: 1px solid transparent;
}

.game {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 90%;
}

.message {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 70px;
}

.createMessageContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: auto;
}
/* 615-861-0927 Brooke */

.promptContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.letter {
  font-size: 2em;
  color:#BCBCBC;
  margin-bottom: 0px;
}


.sequence {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #BCBCBC;
  margin: 1px;
}

.space {
  width: 4px;
  margin: 3px;
}

.dash {
  width: 9px;
  height: 4px;
  border-radius: 13%;
  background-color: #BCBCBC;
  margin: 1px;
}

.completedCodeSignal {
  background-color: black;
}

.completedText {
  color: black;
}

.buttonContainer {
  display: flex;
  /* height: 50vh; */
  margin: 50px;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.switchButton {
  display: flex;
  width: 150px;
  height: 150px;
  background: radial-gradient(black,#2C2C2C);
  border-radius: 50%;
  border: 5px solid #242424;
}

.pressed {
  background: radial-gradient(black,#4c4c4c);
  border: 5px solid #2C2C2C
}

/* @media only screen and (min-width: 600px) {
  .letter {
    font-size: 4em;
  }
  .dot {
    height: 8px;
    width: 8px;
  }
  .dash {
    height: 8px;
    width: 16px;
  }
} */
