.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  /* max-width: 600px; */
}

.game{
  display: flex;
  flex-flow: column;
  margin-top: 100px;
}

.message {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* 615-861-0927 Brooke */

.promptContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.letter {
  font-size: 2em;
  color:#BCBCBC;
  margin-bottom: 0px;
}


.sequence {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #BCBCBC;
  margin: 1px;
}

.space {
  width: 4px;
  margin: 3px;
}

.dash {
  width: 9px;
  height: 4px;
  border-radius: 13%;
  background-color: #BCBCBC;
  margin: 1px;
}

.completedCodeSignal {
  background-color: black;
}

.completedText {
  color: black;
}

.buttonContainer {
  display: flex;
  height: 70vh;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.switchButton {
  display: flex;
  width: 150px;
  height: 150px;
  background: radial-gradient(black,#2C2C2C);
  border-radius: 50%;
  border: 5px solid #242424;
}

.pressed {
  background: radial-gradient(black,#4c4c4c);
  border: 5px solid #2C2C2C
}

@media only screen and (min-width: 600px) {
  .letter {
    font-size: 5em;
  }
  .dot {
    height: 8px;
    width: 8px;
  }
  .dash {
    height: 8px;
    width: 16px;
  }
}
