.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  /* max-width: 600px; */
}

.game{
  display: flex;
  flex-flow: column;
}

.message {
  display: flex;
  width: 80vw;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: center;
}

.promptContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.letter {
  font-size: 9em;
  color:#BCBCBC;
  /* margin-left: 3px;
  margin-right: 3px; */
  margin-bottom: 0px;
}

.letterComplete {
  font-size: 9em;
  color: black;
  /* margin-left: 3px;
  margin-right: 3px; */
  margin-bottom: 0px;
}

.sequence {
  display: flex;
  /* background-color:#BCBCBC; */
  /* margin-left: 3px;
  margin-right: 3px; */
  margin-top: 0px;
}

.sequence {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.promptName {
  font-size: xx-large;
  color: cadetblue;
  margin: 20px;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #BCBCBC;
  margin: 1px;
}

.dotActive {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #BCBCBC;
  margin: 1px;
}

.dotComplete {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: black;
  margin: 1px;
}

.space {
  height: 3px;
  width: 3px;
  background-color: whitesmoke;
  margin: 1px;
}

.spaceActive {
  height: 3px;
  width: 3px;
  background-color: whitesmoke;
  margin: 1px;
}

.spaceComplete {
  height: 3px;
  width: 3px;
  background-color: whitesmoke;
  margin: 1px;
}

.dash {
  width: 20px;
  height: 7px;
  border-radius: 13%;
  background-color: #BCBCBC;
  margin: 1px;
}

.dashActive {
  width: 20px;
  height: 7px;
  border-radius: 13%;
  background-color: #BCBCBC;
  margin: 1px;
}

.completed {
  background-color: black;
}

.dashComplete {
  width: 20px;
  height: 7px;
  border-radius: 13%;
  background-color: black;
  margin: 1px;
}

.buttonContainer {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  margin: 10vh;
}

.switchButton {
  width: 15vw;
  height: 15vw;
  background: radial-gradient(black,#4C4C4C);
  border-radius: 50%;
  border: 7px solid #242424
}

.statementContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
