* {
  background: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.game {
  display: flex;
  flex-flow: column;
  text-align: center;
  flex-grow: 1;
}

.messageHolder {
  display: flex;
  height: 90%;
  flex-flow: row wrap;
  justify-content: center;
  flex-grow: 1;
  align-items: flex-start;
  margin-top: 70px;
}

.promptContainer {
  display: flex;
  flex-flow: column;
  margin: 3px;
  min-width: 2em;
  min-height: 5em;
  justify-content: flex-end;
}

.letter {
  font-size: 3em;
  color:#CCC4BC;
}

.sequence {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #CCC4BC;
  margin: 1px;
}

.space {
  width: 5px;
  margin: 3px;
}

.dash {
  width: 9px;
  height: 5px;
  border-radius: 1px;
  background-color: #CCC4BC;
  margin: 1px;
}

.completedCodeSignal {
  background-color: black;
}

.completedText {
  color: black;
}

.switchContainer {
  display: flex;
  margin: 40px;
  margin-bottom: 150px;
  justify-content: center;
  flex-grow: 0;
}

.switchButton {
  width: 150px;
  height: 150px;
  background: radial-gradient(black,#2C2C2C);
  border-radius: 50%;
  border: 5px solid #242424;
}

.pressed {
  background: radial-gradient(black,#4c4c4c);
  border: 5px solid #2C2C2C
}

.switchButton:focus {
  outline-style: none;
}

.createMessageContainer {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  background: white;
  margin: 30px;
}

form {
  background: white;
  width: auto;
}

label {
  color: #7C6C64;
  background: white;
  font-size: medium;
  margin: 10px;
}

input {
  border: 1px solid #CCC4BC;
  background: white;
  padding: 0px 10px;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: top;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  font-family: "Lucida Console", monospace;
}

.submitButton {
  font-family: "Lucida Console", monospace;
  max-width: 100px;
  background-color: #7C6C64;
  color: white;
  -webkit-appearance: none;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  align-self: flex-end;
}

.scoreCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.scoreCard-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: white;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.2);
  width: 60%;
  min-height: 30%;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score {
  background-color: white;
}

.modal-close {
  font-family: "Lucida Console", monospace;
  max-width: 100px;
  background-color: #7C6C64;
  color: white;
  -webkit-appearance: none;
  font-size: medium;
  padding: 10px 10px;
  margin: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media only screen and (min-width: 600px) {
  .createMessageContainer {
    flex-flow: row;
  }
} 
