* {
  background: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* justify-content: center; */
  /* max-width: 600px; */
}

.game {
  display: flex;
  flex-flow: column;
  width: 90%;
  /* min-height: 100%; */
  max-width: 500px;
  text-align: center;
  flex-grow: 1;
}

.messageHolder {
  display: flex;
  height: 90%;
  flex-flow: row wrap;
  justify-content: center;
  flex-grow: 1;
  /* margin-top: 70px; */
}

.promptContainer {
  display: flex;
  flex-flow: column;
  margin: 3px;
}

.letter {
  font-size: 3em;
  color:#BCBCBC;
}

.sequence {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #BCBCBC;
  margin: 1px;
}

.space {
  width: 5px;
  margin: 3px;
}

.dash {
  width: 9px;
  height: 5px;
  border-radius: 1px;
  background-color: #BCBCBC;
  margin: 1px;
}

.completedCodeSignal {
  background-color: black;
}

.completedText {
  color: black;
}

.buttonContainer {
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-grow: 0;
}

.switchButton {
  width: 150px;
  height: 150px;
  background: radial-gradient(black,#2C2C2C);
  border-radius: 50%;
  border: 5px solid #242424;
}

.pressed {
  background: radial-gradient(black,#4c4c4c);
  border: 5px solid #2C2C2C
}

.createMessageContainer {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  margin: 30px;
  /* justify-content: center; */
  /* position: absolute; */
}
/* 615-861-0927 Brooke */

label {
  color:#BCBCBC;
  font-size: medium;
}

input {
  /* display: inline-block; */
  /* height: 40px; */
  /* width: 500px; */
  /* margin: 10px; */
  border: 1px solid #DCDCDC;
  background: white;
  padding: 0px 10px;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: top;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  font-family: "Lucida Console", monospace;
}

.submitButton {
  /* height: 40px; */
  font-family: "Lucida Console", monospace;
  /* width: 500px; */
  padding: 0px 10px;
  background-color: #C49404;
  color: white;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  border: 1px solid transparent;
}

/* @media only screen and (min-width: 600px) {
  .letter {
    font-size: 4em;
  }
  .dot {
    height: 8px;
    width: 8px;
  }
  .dash {
    height: 8px;
    width: 16px;
  }
} */
