.App {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.game {
  display: flex;
  flex-flow: column;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.messageHolder {
  display: flex;
  height: 80%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
}

.wordHolder {
  display: flex;
  flex-flow: row;
  margin: 15px;
}

.promptContainer {
  display: flex;
  flex-flow: column;
  margin: 3px;
  min-width: 2em;
  min-height: 5em;
  justify-content: flex-end;
}

.letter {
  font-size: 3em;
  color:#CCC4BC;
}

.sequence {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #CCC4BC;
  margin: 1px;
}

.space {
  width: 5px;
  margin: 3px;
}

.dash {
  width: 9px;
  height: 5px;
  border-radius: 1px;
  background-color: #CCC4BC;
  margin: 1px;
}

.completedCodeSignal {
  background-color: black;
}

.hiddenCodeSignal {
  display: none;
}

.completedText {
  color: black;
}

.switchContainer {
  margin: 40px;
}

.spinnerContainer {
  position: relative;
  top: 109px;
  right: -5px;
  background: transparent;
}

.resetSpinner {
  position: relative;
  top: -180px;
  right: -58px;
  transform: rotate(270deg); 
  stroke: #CCC4BC;
  stroke-width: 7px;
  fill: transparent;
  stroke-linecap: round;
}

.switchButton {
  position: relative;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  width: 150px;
  height: 150px;
  background: radial-gradient(black,#2C2C2C);
  border-radius: 50%;
  border: 5px solid #242424;
}

.pressed {
  background: radial-gradient(black,#4c4c4c);
  border: 5px solid #2C2C2C
}

.switchButton:focus {
  outline-style: none;
}

.createMessageContainer {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  background: white;
  margin: 30px;
}

form {
  background: white;
  /* width: auto; */
}

.text-label {
  color: #A68823;
  background: white;
  font-size: medium;
  margin: 10px;
}

.text-input {
  border: 1px solid #CCC4BC;
  background: white;
  padding: 0px 10px;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: top;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  font-family: "Lucida Console", monospace;
}

.settings {
  position: relative;
  /* display: inline-block; */
  padding: 10px;
  width: fit-content;
}

.control-holder {
  display: flex;
  position: relative;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.control-text {
  font-size: larger;
  padding-bottom: 6px;
  color: #A39C96;

}

.toggle {
  /* position: relative; */
  /* display: inline-block; */
  margin-left: 8px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.toggle-label::before,
.toggle-label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
}

.toggle-label::before {
  width: 100%;
  position: relative;
  /* top: 24px; */
  height: 100%;
  background-color: #CCC4BC;
  border-radius: 9999em;
  transition: background-color 0.2s ease;
}

.toggle-label::after {
  top: -24px;
    position: relative;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.45);
    transition: left 0.2s ease;
}

.toggle-input:checked + .toggle-label::before {
  background-color: #DCCC3C;
}

.toggle-input:checked + .toggle-label::after {
  left: 24px;
}

.menuBar1, .menuBar2, .menuBar3 {
  width: 35px;
  height: 5px;
  background-color: #CCC4BC;
  margin: 6px 0;
  transition: .15s;
  stroke-linecap: round;
}

.settings:hover .menuBar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.settings:hover .menuBar2 {
  opacity: 0;
}

.settings:hover .menuBar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.settings-content {
  display: none;
  position: absolute;
  left: 32px;
  top: 32px;
  background-color: white;
  min-width: 200px;
  min-height: 125px;
  border-radius: 12px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1;
}

.settings:hover .settings-content {
  display: block;
}

.submitButton {
  font-family: "Lucida Console", monospace;
  max-width: 100px;
  background-color: #A68823;
  color: white;
  -webkit-appearance: none;
  font-size: medium;
  padding: 10px 10px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  align-self: flex-end;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.scoreCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.scoreCard-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: white;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.2);
  width: 60%;
  min-height: 33%;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score {
  background-color: white;
  color: #A39C96;
  font-size: larger;
}

.modal-close {
  font-family: "Lucida Console", monospace;
  max-width: 100px;
  background-color: #A68823;
  color: white;
  -webkit-appearance: none;
  font-size: medium;
  padding: 10px 10px;
  margin: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media only screen and (min-width: 600px) {
  .createMessageContainer {
    flex-flow: row;
  }
} 
